geo_lab2_version2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.data
geo_lab2_version2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.properties
geo_lab2_version2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.script
geo_lab2_version2/geoserver_data/security/usergroup/default/users.xml
geo_lab2_version2/geoserver_data/security/usergroup/default/users.xml.orig
